@import 'bootstrap';
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

// DEBUG
// .responsive-indicator {display: none; }

// VARIABLES
$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// $break-xs: 480px;
// $break-sm: 767px;
// $break-md: 992px;
// $break-lg: 1200px;

$lcars-orange: #FF9A00;
$lcars-lavender: #9996FF;
$lcars-purple: $lcars-lavender;
$lcars-pink: #CD98CD;
$lcars-salmon: #CE6564;
$lcars-white: #FFFFFF;
$lcars-grey: hsla(0, 0%, 10%, 1);
$lcars-grey-lite: hsla(0, 0%, 70%, 1);

// ========================
// TYPOGRAPHY
$font-serif: "Georgia", "Times New Roman", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "serif";
$font-sans-serif: 'Inter var';
$headline-font: $font-sans-serif;
$body-font: $font-sans-serif;

// ========================
// SIZES
$body-size: calc(18px + 0.4vw);
$body-color: hsla(0, 0%, 20%, 1);
$background-color: white;
$link-color: darken($lcars-purple,10%);
$link-color-hover: darken($lcars-purple,14);

body {
  font-size: $body-size;
  font-family: $body-font;
  color: $body-color;
  // letter-spacing: -0.03x5em;
  font-weight: 400;
  line-height: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
  color: black;
}

h1 {
  // font-size: 4em; 
  margin-bottom: 0.5em;
  font-size: calc(32px + 2vw);
}
h2 {font-size: 2em; }
h3 {font-size: 1.75em; }
h4 {font-size: 1.5em; }
h5 {font-size: 1.25em; }
h6 {font-size: 1.1em; }

a:link, a:visited {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

picture {
  img {
    width: 100%;
  }
}

li {
  line-height: 1.45em;
}

hr {
  margin-bottom: 40px;
}

.viz {
  border: 1px solid red;
}
figcaption {
  margin-bottom: 0.75em;
}
.app-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: darken($background-color,2);

  nav {
    // border: 1px solid pink;
    border-top: 1px solid $lcars-grey-lite;
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: darken($background-color,2);
    padding: 1em;
    a:link, a:visited {
      font-size: 16px;
      text-decoration: none;
      font-weight: 500;
      color: $link-color;
      &:hover {
        color: $link-color-hover;
      }
    }
    #home-link {
      font-family: LabilVariable, $system-fonts;
      margin-bottom: 1em;
      letter-spacing: -0.04em;
      a:link, a:visited {
        // font-weight: 900;
        font-family: inherit;
        color: black;
        font-size: calc(16px + 0.5vw);
        &:hover {
          color: $link-color;
        }
      }
      @media only screen and (min-width : $break-md) {
        margin-bottom: 1em;
        a:link, a:visited {
          font-size: calc(20px + 0.75vw);
        }
      }
    }
    i { font-size: 90%; }
    .nav-items {
      display: flex;
      justify-content: space-between;
      #home-link {
        font-weight: 800;
        display: none;
        @media only screen and (min-width : $break-lg) { 
          display: block;
        }
      }
      .nav-item {
        // width: calc(100%/6);
        font-family: $system-fonts;
        .nav-text {
          @extend .d-none;
          @extend .d-lg-block;
        }
      }
      .emoji {
        // border: 1px solid pink;
        margin-right: 0px;
        @media only screen and (min-width : $break-md) { 
          margin-right: 10px;
        }
      }
    }
  }
  main {
    // h1 { font-size: calc(50px + 0.5vw); }
    overflow: auto;
    padding: 1em;
    margin: 5px;
    padding-top: 2em;
    padding-left: 2em;
    width: 100wh;
    height: 100vh;
    font-size: calc(14px + 0.3vw);
  }
}

#home-link-mobile {
  margin-bottom: 1em;
  font-size: calc(25px + 0.5vw);
  // border: 1px solid pink;
  font-family: LabilVariable, $system-fonts;
  a:link, a:visited {
    color: black;
    &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }
  @media only screen and (min-width : $break-lg) { 
    display:none;
  }
}

.portrait img {
  @media only screen and (min-width : $break-md) { 
    width: 60%;
    // border: 1px solid pink;
  }
}

// TABLET
@media only screen and (min-width : $break-lg) {
  .app-container {
    flex-direction: row;
    margin: 0;
    padding: 0;

    nav {
      border-top: 0;
      position: static;
      margin-top: 2em;
      top: 0;
      left: 0;
      width: 300px;
      min-width: 260px;
      height: 100vh;
      .nav-items {
        flex-direction: column;
        .nav-item {
          display: flex;
          flex-direction: row;
          i {margin-right: 10px; }
        }
      }
    }
    main {
      font-size: calc(16px + 0.3vw);
      background-color: $background-color;
      margin: 5px;
      border-radius: 5px;
      height: 100vh;
      overflow: auto;
      width: 100%;
      .content {
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 8em;
        max-width: 800px;
        .pub-date {
          font-family: $font-sans-serif;
        }
      }
    }
  }
}

.column-count {
  column-count: 2;
  column-gap: 40px;
  ul {
    padding-left: 1em;
  }
}


footer {
  margin-bottom: 100px;
  font-size: 14px;
}


.caption {
  font-family: $system-fonts;
  font-size: calc(10px + 0.5vw);
  font-weight: 600;
  opacity: 50%;
}

.img {
  // margin-bottom: 2em;
  margin-top: 2em;
  img {
    border-radius: 8px;
  }
}

.intro {
  font-size: calc(22px + 0.5vw);
  margin-bottom: 1.25em;
  letter-spacing: -0.035em;
  line-height: 1.25em;
}

.button {
margin-top: 40px;
  a:link, a:visited {
    background-color: #F8F5FE;
    color: rgb(98, 25, 255);
    padding: 8px 10px;
    text-decoration: none;
    // font-family: "LabilVariable", sans-serif;
    &:hover {
      background-color: #E3DEFC;
    }
    i {
      font-size: 80%;
      margin-right: 5px;
    }
  }
}

// ========================
// HELPERS

.responsive-indicator {
  z-index: 1000;
  background-color: red;
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 16px;
  padding: 3px 8px;
  a:link, a:visited {
      color: black;
      text-decoration: underline;
  }
}

// ========================
// DARK MODE

@mixin darkmode {
  html, body {
      background-color: black;
  }
  a:link, a:visited {
    color: $lcars-lavender;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $lcars-salmon;
  }
  body {
    // color: hsla(0, 0%, 90%, 0.75);
  }
  #home-logo {
    a:link, a:visited {
      color: $lcars-orange;
    }
  }
}

@media (prefers-color-scheme: dark) {
  // @include darkmode;
}


// ========================
// FONT

// @font-face {
//   font-display: swap;
//   font-family: Bradford;
//   font-weight: 400;
//   font-style: normal;
//   src: url(/src/fonts/BradfordLLWeb-Regular.eot);
//   src: url(/src/fonts/BradfordLLWeb-Regular.woff) format("woff"),url(/src/fonts/BradfordLLWeb-Regular.woff2) format("woff2")
// }

// @font-face {
//   font-display: swap;
//   font-family: Bradford;
//   font-weight: 400;
//   font-style: italic;
//   src: url(/src/fonts/BradfordLLWeb-Italic.eot);
//   src: url(/src/fonts/BradfordLLWeb-Italic.woff) format("woff"),url(/src/fonts/BradfordLLWeb-Italic.woff2) format("woff2")
// }

// @font-face {
//   font-display: swap;
//   font-family: Bradford;
//   font-weight: 700;
//   font-style: normal;
//   src: url(/src/fonts/BradfordLLWeb-Bold.eot);
//   src: url(/src/fonts/BradfordLLWeb-Bold.woff) format("woff"),url(/src/fonts/BradfordLLWeb-Bold.woff2) format("woff2")
// }

@font-face {
  font-display: swap;
  font-family: LabilVariable;
  src: url(/src/fonts/LabilGrotesk-Variable.woff2) format("woff2")
}

// @font-face {
//   font-display: swap;
//   font-family: Labil;
//   font-weight: 400;
//   font-style: normal;
//   src: url(/src/fonts/LabilGrotesk-Regular.woff) format("woff"),url(/src/fonts/LabilGrotesk-Regular.woff2) format("woff2")
// }

// @font-face {
//   font-display: swap;
//   font-family: Labil;
//   font-weight: 400;
//   font-style: italic;
//   src: url(/src/fonts/LabilGrotesk-Italic.woff) format("woff"),url(/src/fonts/LabilGrotesk-Italic.woff2) format("woff2")
// }

